.venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.log
logs/
.git
.gitignore
back-end/
maintenance/
webhook_setup/
webhook/
fetch_antares/
*.sh
README.md
API-documentation.md
*.md
*.txt
!requirements.txt


